<%- include('../partials/header') %>

<h1>My Feed</h1>

<% posts.forEach(function(p) { %>
    <br>
    <% const username = users.find(element => element._id.equals(p.user)) %>
    
    <div class="card w-50">
        <div class="card-body">
            <h5 class="card-title"><%= username.name %></h5>
            <br>
            <p class="card-text"><%= p.textContent %></p>
        </div>
        <div class="card-footer text-muted text-end">
            <label>Posted On: <%= p.createdAt.toLocaleString() %></label>
            <br>
        <% if (!(p.createdAt.toLocaleString() == p.updatedAt.toLocaleString())) { %>
            <label>Edited On: <%= p.updatedAt.toLocaleString() %></label>
        <% } %>
        <br>
        <a class="btn btn-outline-dark btn-sm" href="/posts/<%= p._id %>" role="button">View Comments</a>
        <br>
    </div>
</div>
        <% }); %>

      
<%- include('../partials/footer') %>